.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.content__wrapper {
    width: 50vw;
}

.presentation__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__items__container {
    margin-top: 40px;
}

@media screen and (max-width: 960px) {
    .content__wrapper {
        width: 90vw;
    }
}