.header__container {
    background-image: url('../images/image-hero-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.header__container::before {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
    content: '';
    display: block;
    z-index: 0;
    height: 100px;
}

@media screen and (max-width: 960px) {
    .header__container {
        background-image: url('../images/image-hero-mobile.jpg');
    }
}