.main__container {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-top: 25px;
}

.main__container__borderless {
    border: 1px solid white;
}

.main__container__lightborder {
    border: 1px solid hsl(0, 0%, 90%);
}

.main__container__greyborder {
    border: 1px solid hsl(0, 0%, 85%);
}

.inner__main__container {
    padding: 50px;
}

.centered__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .inner__main__container {
        padding: 20px;
    }
}