.main__container {
    width: 100%;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    margin: 25px 0;
}

.main__container__borderless {
    border: white;
}

.main__container__lightborder {
    border: hsl(0, 0%, 20%);
}

.main__container__greyborder {
    border: hsl(0, 0%, 48%);
}